/* GENERAL */

.wrap {
    width: 90%;
    max-width: 11000px;
    margin: 0 auto;
    display: inherit;
}

/* NAV MOBILE*/

/* NAV DESKTOP*/

.nav-desktop {
    background-color: #222;
    height: 80px;
    padding: 0px;
}

.site-logo {
    color: white;
    line-height: 80px;
}

.nav-desktop .menu-desktop {
    line-height: 80px;
}

.nav-desktop a {
    display: inline-block;
}

/* HERO */

.hero {
    background-color: #999;
    padding: 80px 0px;
    height: 400px;
}

.button.success {
    background-color: purple;
    color: white;
}

/* MAIN SECTION */

.main {
    padding: 80px 0px;
}

/* FOOTER */

footer {
    background-color: #222;
    padding: 80px 0px;
}

footer a {
    display: block;
}