/* GENERAL */

* {
    outline: none;
}
.wrap {
    width: 90%;
    max-width: 11000px;
    margin: 0 auto;
    display: inherit;
}

.off-canvas{
    background-color: #222;
}





/* NAV MOBILE*/
.title-bar{
    background-color: #222; 
    height: 60px;
}

#mobile-menu {
    padding:10px;
}

#mobile-menu li {
    list-style: none;
    font-weight: bold;
    line-height: 2;
}

#mobile-menu a {
    color: rgba(255,255,255, 0.6);
}

#mobile-menu a:hover {
    color: rgba(255,255,255, 0.8);
}

.js-off-canvas-overlay {
    background: rgba(0,0,0, 0.5);
}



/* NAV DESKTOP*/

.nav-desktop {
    background-color: #222;
    height: 80px;
    padding: 0px;
}

.site-logo {
    color: white;
    line-height: 80px;
}

.nav-desktop .menu-desktop {
    line-height: 80px;
    background-color: transparent;
}

/* .nav-desktop a {
    display: inline-block;
} */

.menu > li > a {
    display: inline-block;
    line-height: 80px;
    padding-top: 0;
    padding-bottom: 0;
    color: white; 
}

.menu > li > a:hover {
    background-color: rgba(255,255,255, 0.1);
}








/* HERO */

.hero {
    background-color: #999;
    padding: 80px 0px;
    height: 400px;
    background-image: url("../img/what-the-hex-dark.png")
}

.hero h1,
.hero p {
    color: rgba(255,255,255, 0.8);
    max-width: 70%;
}

.button.success {
    background-color: purple;
    color: white;
}

/* MAIN SECTION */

.main {
    padding: 80px 0px;
}

.grid-padding-x {
    padding: 200px;
}







/* FOOTER */

footer {
    background-color: #222;
    padding: 80px 0px;
}

footer h4 {
    color: rgba(255,255,255,0.8);
    font-size: 1.3em;
}

footer hr {
    border-color: rgba(255,255,255,0.1);
    margin: 10px 0;
}

footer a {
    display: block;
    color: rgba(255,255,255,0.6);
    font-size: 0.8em;
}

footer a span {
    font-weight: bold;
    color: rgba(255,255,255,0.3)
}

footer a:hover {
    color: rgba(255,255,255,0.8);
}








/* MEDIA QUERY */

@media (max-width: 639px) {
    .nav-desktop{
        display: none;
    }
}

@media (max-width: 875px) {
    .hero h1,
    .hero p {
        width: 100%;
    }
}